<html>
<h1>Hello World!</h1>

<body>
<form action="#" th:action="@{/feedback}" th:object="${feedback}" method="post">
    <table>
        <tr>
            <td>Firstname:</td>
            <td><input type="text" th:field="*{firstname}" /></td>
            <td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Firstname Error</td>
        </tr>
        <tr>
            <td>Lastname:</td>
            <td><input type="text" th:field="*{lastname}" /></td>
            <td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Lastname Error</td>
        </tr>
        <tr>
            <td>birthday:</td>
            <td><input type="date" th:field="*{birthday}" /></td>
            <td th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">birthday Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>